<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add FAQ</title>
</head>

<body>
    <a href="/teacher/home">Back</a>
    <h1>add FAQ</h1>
    <form method="post" action="/teacher/faqAdd">
        {% csrf_token %}
        <input type="text" placeholder="question" name="question">
        <input type="text" placeholder="answer" name="answer">
        <input type="submit" value="ADD">


    </form>
</body>

</html>