<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Students</title>
</head>

<body>
    <a href="/teacher/home">Back</a>
    <h1>View FAQ</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for each in faq %}
            <tr>
                <td>{{each.id}}</td>
                <td>{{each.question}}</td>
                <td>{{each.answer}}</td>
                <td>
                    <a href="/teacher/deletefaq?id={{each.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>

</html>